:root {
  font-family: "Nunito", "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #1a202c;
  background-color: #f7fafc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
